@use "../../../theme";

.separator {
  height: 1px;
  width: 100%;
  background-color: theme.$guide-color;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 1.5rem 0.5rem;
  background: theme.$foreground-color;
  border-radius: 1rem;
  border: 1px solid theme.$gutter-color;

  div#title-field {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8rem;
  }

  div#actions-field {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;

    button#confirm {
      color: theme.$gutter-color;
      background-color: theme.$green-color;
      outline: none;
      border: none;
      border-radius: 8px;
      text-transform: uppercase;
      font-weight: 900;
      padding: 0.5rem 0.8rem;
    }

    button#cancel {
      color: white;
      background-color: theme.$red-color;
      outline: none;
      border: none;
      border-radius: 8px;
      text-transform: uppercase;
      font-weight: 900;
      padding: 0.5rem 0.8rem;
    }

    a#link {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.6rem;
      font-size: 1rem;
      font-weight: 700;
      color: theme.$guide-color;
      background-color: theme.$gutter-color;
      border: 1px solid theme.$guide-color;
      border-radius: 8px;
      padding: 0.5rem 1rem;
      transition: transform 300ms;
    }

    a#link:hover {
      transform: scale(1.1);
    }
  }
}
