<header>
  <a routerLink="/">
    <img src="icon.png" alt="Application logo" title="Go to Home" />
  </a>

  <nav>
    <button (click)="toggleLinksMenu()">
      Link
      <ng-icon
        [name]="isLinkMenuExpanded ? 'lucideChevronDown' : 'lucideChevronRight'"
      />
    </button>
    @if (isLinkMenuExpanded) {
    <div id="menu">
      <a href="https://github.com/freitaseric/pocketsparks" target="_blank"
        ><span>Github</span> <ng-icon name="lucideExternalLink"
      /></a>
    </div>
    }
  </nav>
</header>
