<header>
  <a routerLink="/">
    <img src="icon.png" alt="Application logo" />
  </a>

  <nav>
    <a
      routerLinkActive="active"
      routerLink="/about"
      ariaCurrentWhenActive="page"
      >About</a
    >
    <a
      routerLinkActive="active"
      routerLink="/download"
      ariaCurrentWhenActive="page"
      >Download</a
    >
    <a
      routerLinkActive="active"
      routerLink="/documentation"
      ariaCurrentWhenActive="page"
      >Documentation</a
    >
    <a href="https://github.com/freitaseric/pocketsparks" target="_blank"
      >Github</a
    >
  </nav>
</header>
