$foreground-color: #252931;
$background-color: #282c34;
$gutter-color: #1d2025;
$guide-color: #cccccc;
$accent-color: #528bff;
$text-color: #abb2bf;
$cyan-color: #56b6c2;
$blue-color: #61afef;
$purple-color: #c678dd;
$green-color: #98c379;
$rose-color: #e06c75;
$orange-color: #d19a66;
$red-color: #be5046;
$gold-color: #e5c07b;
